body {
}
.container{
	background-color: beige;
	min-height: 100px;
	min-width: 300px;
	max-width: 300px;
	display: table;
	border-color: lightgray;
	border: solid;
	border-width:1px;
}
.status{
	display:table-cell;
	width:15%;
}
.success{
	background-color: green;
}
.info{
	background-color: yellow;
}
.warning{
	background-color: orange;
}
.error{
	background-color: red;
}
.message{
	background-color: wheat;
	display:table-cell;
	width:85%;
	padding:5px;
}


.bold-text {
  font-weight: bold;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.show-class {
  visibility: visible;
}

.hide-class {
  visibility: hidden;
}

.italic-text {
  font-style: italic;
}

.small-text {
  font-size: 10px;
}